@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: rgb(85, 81, 227);
}
.bg-secondary{
    background-color: #2b2d77
}
.mobile-nav{
    @apply  fixed top-10 bg-gray-600 w-full h-1/4 left-0;
}

.mobile-nav li{
    @apply text-center border-b-2 w-full h-full pt-4
}
.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary duration-500 opacity-0 hover:opacity-100
}
.btn{
    @apply bg-primary px-5 py-4 rounded border-white hover:border-2 font-bold
}

html{
    scroll-behavior: smooth;
}